<section class="profile-section p-3 p-lg-5 d-flex flex-column" id="projects">
  <div class="my-auto">
    <h2 class="mb-5">Projects</h2>
    <div *ngIf="!isEditing">
      <div *ngFor="let project of projectsContent.projects" class="profile-item d-flex flex-column flex-md-row mb-3 mb-5">
        <div class="profile-content me-auto">
          <h3 class="mb-0">{{project.organization}}</h3>
          <div class="subheading mb-3 mt-3">{{project.projectName}}</div>
          <div>Members: {{project.memberNum}}</div>
          <div>Position: {{project.position}}</div>
          <div *ngFor="let taskDescription of project.taskDescriptions; index as i">Task Description{{i+1}}: {{taskDescription}}</div>
        </div>
        <div class="profile-date text-md-right">
          <span class="text-primary">
            {{project.startedAt ? project.startedAt.toLocaleString('en-us',{month:'short', year:'numeric'}) : 'None'}}
             - 
            {{project.finishedAt ? project.finishedAt.toLocaleString('en-us',{month:'short', year:'numeric'}) : 'Now'}}
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="isEditing" [formGroup]="profileForm">
      <div formGroupName='projectsContent'>
        <div formArrayName='projects'>

          <div *ngIf="profileForm.controls.projectsContent.controls.projects.controls.length === 0">
            <div class="row mb-3">
              <div class="col-11"></div>
              <div class="col-1" style="padding: 0;">
                <app-modules-user-form-input-add-remove
                  [targetArrayForm]="profileForm.controls.projectsContent.controls.projects"
                  [newObject]="newProjectDescription"
                ></app-modules-user-form-input-add-remove>
              </div>
            </div>
          </div>

          <div *ngFor="let project of profileForm.controls.projectsContent.controls.projects.controls; let i=index">
            <div [formGroupName]="i">
              <div class="container mb-5">
                <div class="row mb-3">
                  <div class="col-12">Organization Name</div>
                  <div class="col-11">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Organization Name"
                      formControlName="organization"
                    >
                  </div>
                  <div class="col-1" style="padding: 0;">
                    <app-modules-user-form-input-add-remove
                      [targetArrayForm]="profileForm.controls.projectsContent.controls.projects"
                      [targetArrayIndex]="i"
                      [newObject]="newProjectDescription"
                    ></app-modules-user-form-input-add-remove>
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-12">Project Name</div>
                  <div class="col-12">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Project Name"
                      formControlName="projectName"
                    >
                  </div>
                </div>
                <div class="row mb-3">
                  <div class="col-6">Member Number</div>
                  <div class="col-6">Your Positioin</div>
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Member Number"
                      formControlName="memberNum"
                    >
                  </div>
                  <div class="col-6">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      placeholder="Your Positioin"
                      formControlName="position"
                    >
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-6">Started At</div>
                  <div class="col-6">Finished At</div>
                  <div class="col-6">
                    <app-modules-monthpicker
                      [control]="project.controls.startedAt"
                    ></app-modules-monthpicker>
                  </div>
                  <div class="col-6">
                    <app-modules-monthpicker
                      [control]="project.controls.finishedAt"
                    ></app-modules-monthpicker>
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-1"></div>
                  <div class="col-11">Task Descriptions</div>
                </div>
                <div formArrayName='taskDescriptions'>
                  <div *ngIf="project.controls.taskDescriptions.controls.length === 0">
                    <div class="row mb-3">
                      <div class="col-11"></div>
                      <div class="col-1" style="padding: 0;">
                        <app-modules-user-form-input-add-remove
                          [targetArrayForm]="project.controls.taskDescriptions"
                          [newObject]="newTaskDescription"
                        ></app-modules-user-form-input-add-remove>
                      </div>
                    </div>
                  </div>

                  <div *ngFor="let description of project.controls.taskDescriptions.controls; let j=index">
                    <div class="row mb-1">
                      <div class="col-1"></div>
                      <div class="col-10">
                        <input
                          type="text"
                          class="form-control form-control-sm"
                          placeholder="Description"
                          [formControlName]="j"
                        >
                      </div>
                      <div class="col-1" style="padding: 0;">
                        <app-modules-user-form-input-add-remove
                          [targetArrayForm]="project.controls.taskDescriptions"
                          [targetArrayIndex]="j"
                          [newObject]="newTaskDescription"
                        ></app-modules-user-form-input-add-remove>
                      </div>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
