.container {
  max-width: 960px;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.banner-background-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/developers-8a830.appspot.com/o/developer%2Fresources%2Fimg%2Fbanner.png?alt=media&token=0c52ca2b-e799-4677-92c6-956bc88f57c6');
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: lighten;
  background-size:cover;
  transition: background-color .5s;
  .banner-background-text {
    transition: background-color .5s;
  }
}

.banner-background-image:hover {
  background-color:rgba(255,255,255,0.2); 
  .banner-background-text {
    background-color:rgba(255,255,255,0.7);
  }
}

.blog-background-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/developers-8a830.appspot.com/o/developer%2Fresources%2Fimg%2Fabout.png?alt=media&token=458236cf-1b28-412f-908b-66e63c56cfdb');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size:cover;
  transition: background-color .5s;
  .blog-background-text {
    transition: background-color .5s;
  }
}

.blog-background-image:hover {
  background-color:rgba(255,255,255,0.2); 
  .blog-background-text {
    background-color:rgba(255,255,255,0.7);
  }
}

.video-chat-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/developers-8a830.appspot.com/o/developer%2Fresources%2Fimg%2Fwork.png?alt=media&token=86796893-0365-4200-8dae-b2d1dcaa675e');
  background-color:rgba(255,255,255,0.5);
  background-blend-mode:lighten;
  background-size:cover;
  transition: background-color .5s;
  .video-chat-text {
    transition: background-color .5s;
  }
}

.video-chat-image:hover {
  background-color:rgba(255,255,255,0.2); 
  .video-chat-text {
    background-color:rgba(255,255,255,0.7);
  }
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
