<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav" *ngIf="blogContents">
  <!-- Collapse button -->
  <div class="fixed-top">
    <button
      class="navbar-toggler nav-collapse-button fixed-top"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSideCollapse"
      aria-controls="navbarSideCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSideCollapse">
    <ul class="navbar-nav blog-navbar" *ngIf="isEditingPost">
      <div class="nav-item">
        <Button
          class="btn btn-sm btn-dark ms-2 mb-2"
          *ngIf="authService.isSignedIn()"
          (click)="handleClickStartUploadPostImageSrc()"
        >Add Image</Button>
      </div>
      <div class="nav-item d-flex flex-wrap">
        <span *ngFor="let imageContent of imageContents; let i=index">
          <div class="thumbnail">
            <img
              [src]="imageContent.attributes.src"
              [class.portrait]="imageHelper.isPortraitImage(imageContent)"
              (click)="handleClickEditPostImage(imageContent)"
              alt="Image"
            />
          </div>
        </span>
      </div>
    </ul>
    <ul class="navbar-nav blog-navbar" *ngIf="!isEditingPost">
      <div class="nav-item">
        <app-modules-directory
          [nodes]="blogContents[0].categoryMap || []"
          [canEdit]="canEdit"
          (selectCategory)="handleSelectCategory($event)"
          (editCategory)="handleEditCategory($event)"
          (addCategory)="handleAddCategory($event)"
        ></app-modules-directory>
      </div>
    </ul>
  </div>
</nav>
