<app-header></app-header>

<div class="top-nav-block"></div>
<div *ngIf="!isPage">
  <app-modules-not-found></app-modules-not-found>
</div>
<div 
  *ngIf="isPage"
  class="blog-background"
>
  <app-blog-post
    *ngIf="params.postId"
    [isCreatingPost]="false"
    [canEdit]="canEdit"
    [blogContents]="blogContents"
  ></app-blog-post>
  <app-blog-category
    *ngIf="params.categoryId"
    [canEdit]="canEdit"
    [blogContents]="blogContents"
  ></app-blog-category>
  <app-blog-prologue
    *ngIf="!params.postId && !params.categoryId"
    [canEdit]="canEdit"
    [blogContents]="blogContents"
  ></app-blog-prologue>
</div>
