<div *ngIf="!isEditingPost">
  <div class="blog-comment">
    <section
      class="p-3 d-flex flex-column"
      id="comment-edit"
      [class.comment-section]="!editingCommentId"
      [class.comment-editing-section]="editingCommentId"
    >
      <div class="d-flex">
        <div>Comments</div>
        <div
          *ngIf="!isCreatingComment"
          class="btn btn-warning comment-add-button"
          (click)="clickCommnetNew()"
        >Leave Comment</div>
      </div>

      <form
        *ngIf="commentContentsForm"
        [formGroup]="commentContentsForm"
      >
        <div formArrayName="commentContents">
          <div
            *ngFor="let commentContent of commentContentsForm.controls.commentContents.controls; let i=index"
          >
            <div
              class="comment-list-row"
              [formGroupName]="i"
            >
              <div
                class="container-flex comment-list-col-container"
              >
                <div class="row">
                  <span class="col-7">{{commentContent.value.userName}}
                    <span
                      *ngIf="!editingCommentId && isOwner(commentContent.value.ownerId)"
                      (click)="clickCommentEdit(commentContent.value.id)"
                      class="btn btn-warning comment-edit-button"
                    >Edit</span>
                    <span
                      *ngIf="editingCommentId === commentContent.value.id"
                      (click)="handleClickEditCommentUpdate(commentContent)"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Update</span>
                    <span
                      *ngIf="editingCommentId === commentContent.value.id"
                      (click)="clickCommentEditCancel()"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Cancel</span>
                    <span
                      *ngIf="editingCommentId === commentContent.value.id"
                      (click)="handleClickEditCommentDelete(commentContent)"
                      class="btn btn-outline-secondary comment-edit-button"
                    >Delete</span>
                  </span>
                  <span class="col-5" style="text-align: right;">
                    {{dataTransferHelper.numberToDateString(commentContent.value.createdAt)}}
                  </span>
                </div>
                <div class="row">
                  <div class="col-12 comment-list-col">
                    <markdown
                      *ngIf="editingCommentId !== commentContent.value.id"
                      emoji
                      lineNumbers
                      ngPreserveWhitespaces
                      data={{dataTransferHelper.markDownPreprocess(commentContent.controls.commentMarkdown.value)}}>
                    </markdown>
                  </div>

                  <div
                    *ngIf="editingCommentId === commentContent.value.id"
                    class="d-flex flex-wrap"
                    style="width:100%"
                  >
                    <div class="comment-edit-col">
                      <div
                        *ngIf="hasNullCommentContentError"
                        class="comment-edit-title-col-null-error mt-3"
                      >Please Insert Comment</div>
                      <textarea
                        class="form-control comment-editarea"
                        rows="{{getCommentMarkdownLines(commentContent)}}"
                        formControlName="commentMarkdown"
                        placeholder="Content"
                      ></textarea>
                    </div>

                    <div class="comment-edit-preview-col">
                      <div class="comment-edit-content-col">
                        <markdown
                          emoji
                          lineNumbers
                          ngPreserveWhitespaces
                          data={{dataTransferHelper.markDownPreprocess(commentContent.controls.commentMarkdown.value)}}
                        >
                        </markdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div class="d-flex">
        <mat-paginator
          class="mx-auto pt-3 comment-page-list"
          [length]="commentCreatedAtList.length"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[1, 5, 10, 20]"
          (page)="changePageList($event)">
        </mat-paginator>
      </div>
    </section>
  </div>

  <div
    class="blog-comment"
    id="comment-new"
    *ngIf="isCreatingComment"
  >
    <section
      class="p-3 d-flex flex-column comment-editing-section"
    >
      <div class="d-flex">
        <div
          class="me-2"
        >New Comment</div>
        <div
          class="btn btn-warning comment-new-cancel-button"
          (click)="clickCommentNewCancel()"
        >Cancel</div>
        <div
          class="btn btn-warning comment-new-cancel-button"
          (click)="clickCommentNewUpdate()"
        >Update</div>
      </div>
      <form
        *ngIf="creatingCommentForm"
        [formGroup]="creatingCommentForm"
      >
        <div
          class="d-flex flex-wrap"
          style="width:100%"
        >
          <div class="comment-edit-col">
            <div
              *ngIf="hasNullCommentContentError"
              class="comment-edit-title-col-null-error mt-3"
            >Please Insert Comment</div>
            <textarea
              class="form-control comment-editarea"
              rows="{{getCommentMarkdownLines(creatingCommentForm)}}"
              formControlName="commentMarkdown"
              placeholder="Content"
            ></textarea>
          </div>

          <div class="comment-edit-preview-col">
            <div class="comment-edit-content-col">
              <markdown
                emoji
                lineNumbers
                ngPreserveWhitespaces
                data={{dataTransferHelper.markDownPreprocess(creatingCommentForm.controls.commentMarkdown.value)}}
              >
              </markdown>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</div>