<section *ngIf="!isEditing && profileForm" class="profile-section p-3 p-lg-5 d-flex d-column" id="about">
  <div class="my-auto container-flow">
    <h1 class="mb-0">{{aboutContent?.firstName}}
      <span class="text-primary">{{aboutContent?.lastName}}</span>
    </h1>

    <div class="subheading mb-5"><a href="https://www.google.co.jp/maps/place/{{aboutContent?.address}}">
      {{aboutContent?.address}}</a> · {{aboutContent?.phoneNumber}} ·
      <a href="mailto:{{aboutContent?.email}}" style="text-transform:none;">{{aboutContent?.email}}</a>
    </div>

    <ul class="list-inline list-social-icons mb-0 d-flex">
      <li *ngFor="let social of aboutContent?.social" class="list-inline-item">
        <a href="{{social.socialUrl}}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="{{social.faIcon}} fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>

<section *ngIf="isEditing" class="profile-section p-3 p-lg-5 d-column d-flex" id="about" [formGroup]="profileForm">
  <div class="my-auto container">
    <div [class.user-name-collision-error]="
      userNameValidationError.hasUserNameCollisionError
      || userNameValidationError.hasUserNameCharacterError
    ">
      Your Site URL
      {{
        userNameValidationError.hasUserNameCollisionError ?
        '(Site Name is already exists)' : ''
      }}
      {{
        userNameValidationError.hasUserNameCharacterError ?
        '(6 to 30 Length of Upper/Lower Alphabet, Number, -, _ can be used for Site Name)' : ''
      }}
    </div>
    <div class="mb-3 d-flex justify-content-start">
      <div class="d-flex flex-column">
        <span class="user-page-url" *ngFor="let availableServiceURL of availableServiceURLs">
          {{availableServiceURL}}
        </span>
      </div>
      <div class="ms-2 my-auto" style='width:100%'>
        <input
          type="text"
          class="form-control form-control-sm"
          [class.user-name-collision-error]="
            userNameValidationError.hasUserNameCollisionError
            || userNameValidationError.hasUserNameCharacterError
          "    
          placeholder="User Name"
          formControlName="userName"
          (keyup)=handleValidateUserName($event)
        >
      </div>
    </div>
    <div formGroupName="aboutContent">
      <div class="row mb-3">
        <div class="col-6">First Name</div>
        <div class="col-6">Last Name</div>
        <div class="col-6">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="First Name"
            formControlName="firstName"
          >
        </div>
        <div class="col-6">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Last Name"
            formControlName="lastName"
          >
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col-12">Address</div>
        <div class="col-12">
          <input
            value="{{aboutContent?.address}}"
            type="text"
            class="form-control form-control-sm col-12"
            placeholder="Address"
            formControlName="address"
          >
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-6">Phone Number</div>
        <div class="col-6">Email</div>
        <div class="col-6">
          <input
            type="text"
            class="form-control form-control-sm col-6"
            placeholder="Phone Number"
            formControlName="phoneNumber"
          >
        </div>
        <div class="col-6">
          <input
            type="text"
            class="form-control form-control-sm col-6"
            placeholder="Email"
            formControlName="email"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-4">Font AwsomeIcon</div>
        <div class="col-8">Url</div>
      </div>
      <div formArrayName='social'>
        <div *ngFor="let socialElement of profileForm.controls.aboutContent.controls.social.controls; let i=index">
          <div [formGroupName]="i" class="row mb-1">
            <div class="col-4">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Icon"
                formControlName="faIcon"
              >
            </div>
            <div class="col-7">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Url"
                formControlName="socialUrl"
              >
            </div>
            <div class="col-1" style="padding: 0;">
              <app-modules-user-form-input-add-remove
                [targetArrayForm]="profileForm.controls.social"
                [targetArrayIndex]="i"
                [newObject]="newAboutSocial"
              ></app-modules-user-form-input-add-remove>
            </div>
          </div>
        </div>
        <div class="row mb-1" *ngIf="profileForm.controls.aboutContent.controls.social.length === 0">
          <div class="col-11"></div>
          <div class="col-1" style="padding: 0;">
            <app-modules-user-form-input-add-remove
              [targetArrayForm]="profileForm.controls.social" 
              [newObject]="newAboutSocial"
            ></app-modules-user-form-input-add-remove>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
